.present-section {
  margin: 0 auto;
  background-color: #fefbfb;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1440px;
  height: 310px;
}
.present-section__text {
  font-weight: 700;
  // font-weight: 800;
  font-size: 24px;
  line-height: 180%;
  text-align: center;
  letter-spacing: 0.06em;
  width: 1028px;
  height: 172px;
  margin: 0 auto;
}

// АДАПТИВ TABLET (ПЛАНШЕТ)

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .present-section {
    width: 768px;
    height: 200px;
  }
  .present-section__text {
    font-size: 11px;
    width: 445px;
    height: 73px;
  }
}

// АДАПТИВ MOBILE

@media screen and (min-width: 360px) and (max-width: 767px) {
  .present-section {
    width: 360px;
    height: 120px;
  }
  .present-section__text {
    font-size: 8px;
    width: 324px;
    height: 57px;
  }
}
