.present-section {
  display: flex;
  width: 1440px;
  height: 310px;
  background-color: #fefbfb;
}
.present-section__text {
  font-weight: 700;
  font-style: normal;
  // font-weight: 800;
  font-size: 24px;
  line-height: 180%;
  text-align: center;
  align-self: center;
  letter-spacing: 0.06em;
  width: 1028px;
  height: 172px;
  margin: 69px auto;
}

// АДАПТИВ TABLET (ПЛАНШЕТ)

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .present-section {
    width: 768px;
    height: 200px;
  }
  .present-section__text {
    font-size: 11px;
    width: 436px;
    height: 73px;
    margin: 40px auto;
  }
}
