.price {
  background: linear-gradient(
    180deg,
    rgba(199, 189, 255, 0.15) 0%,
    rgba(155, 137, 255, 0) 10.03%
  );
  width: 1440px;
  height: 1180px;
  margin: 0 auto;
}
.price__main-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 1298px;
  height: 763px;
  gap: 25px;
  margin: 0 auto;
}
.price__title {
  text-align: center;
  padding-top: 100px;
}
.price__line {
  width: 593px;
  margin: 40px auto 108px;
}
.price__container_tarif-1,
      .price__container_tarif-2,
      .price__container_tarif-3 {
  display: flex;
  flex-direction: column;
  border: 6px solid #e9ebf6;
  width: 402px;
  height: 780px;
}
.price__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 33px;
  letter-spacing: 0.06em;
  width: 266px;
  height: 92px;
}
.price__text-money {
  color: #5200ff;
  font-weight: 900;
  font-size: 24px;
  letter-spacing: 0.06em;
  text-align: center;
  margin-top: 37px;
  margin-bottom: 37px;
}
.price__subtitle {
  text-align: center;
  margin-top: 53px;
  width: 244px;
  height: 52px;
  align-self: center;
}
.price__point {
  width: 28px;
  height: 28px;
  margin-top: 5px;
}
.price__row {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}


.price__button, .price__button-second, .price__button-third {
  width: 206px;
  align-self: center;
}
.price__button {
  margin-top: 234px;
  
}
.price__button-second {
  margin-top: 142px;
  
}
.price__button-third {
  margin-top: 50px;
  
}


// АДАПТИВ TABLET (ПЛАНШЕТ)

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .price {
    width: 768px;
    height: 620px;
  }
  .price__main-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 672px;
    height: 420px;
    gap: 10px;
  }
  .price__title {
    text-align: center;
    padding-top: 50px;
  }
  .price__line {
    width: 330px;
    margin: 25px auto 40px;
  }
  // .price__container {
  //   border: 4px solid #e9ebf6;
  //   width: 203px;
  //   height: 420px;
  // }
  .price__container_tarif-1,
  .price__container_tarif-2,
  .price__container_tarif-3 {
    border: 4px solid #e9ebf6;
    width: 203px;
    height: 420px;
}

  .price__text {
    font-size: 11px;
    line-height: 19px;
    width: 150px;
    height: 54px;
  }

  .price__text-money {
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 15px;
  }
  .price__subtitle {
    width: 144px;
    height: 30px;
    margin-top: 29px;
  }
  .price__point {
    width: 15px;
    height: 15px;
    margin-top: 5px;
  }
  .price__button, .price__button-second, .price__button-third {
    width: 107px;
    
  }
  .price__button {
    margin-top: 131px;
    
  }
  .price__button-second {
    margin-top: 77px;
    
  }
  .price__button-third {
    margin-top: 23px;
    
  }
}

// АДАПТИВ MOBILE

@media screen and (min-width: 360px) and (max-width: 767px) {

    .price {
        width: 360px;
        height: 1390px;
        margin: 0 auto;
      } 
      .price__main-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 250px;
        height: 1178px;
        gap: 13px;
        margin-top: 62px;
        margin: 0 auto;
    }
    .price__title {
        text-align: center;
        padding-top: 53px;
      }
    .price__line {
        width: 241px;
        margin: 20px auto 62px;
      }
      .price__container_tarif-1 {
        border: none;
        width: 250px;
        height: 337px;
      }
      .price__container_tarif-2 {
        border: none;
        width: 250px;
        height: 388px;
      }
      .price__container_tarif-3 {
        border: none;
        width: 250px;
        height: 440px;
      }
      .price__text {
        font-weight: 500;
        font-size: 11px;
        line-height: 180%;
        letter-spacing: 0.06em;
        width: 212px;
        height: 52px;
      }
      .price__text-money {
        color: #5200ff;
        font-weight: 900;
        font-size: 18px;
        letter-spacing: 0.06em;
        text-align: center;
        margin-top: 4px;
        margin-bottom: 20px;
      }
      .price__subtitle {
        text-align: center;
        align-self: center;
        margin-top: 19px;
        line-height: 180%;
        width: 248px;
      }
      .price__point {
        width: 21px;
        height: 21px;
        margin-top: 1px;
        margin-right: 10px;
      }
      .price__row {
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
      }
      .price__button, .price__button-second, .price__button-third{
        margin-top: 25px;
      }
      
}
