.icon-social {
    display: flex;
    justify-content: center;
    gap: 92px;
}

.icon-social__item {
    margin-top: 75px;
    margin-bottom: 75px;
}

.icon-social__link {
    width: 100px;
    height: 100px;
}