.advantages {
  width: 1440px;
  height: 831px;
  display: flex;
  flex-direction: column;
  background: #fefbfb;
  margin: 0 auto;
}

.advantages__title {
  padding-top: 103px;
  margin: 0 auto;
  text-align: center;
  width: 950px;
  height: 108px;
  line-height: 135.4%;
}

.advantages__wrap {
  display: flex;
  margin: 70px auto;
  justify-content: center;
}

.advantages__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 360px;
  height: 451px;
  border: 6px solid #e9ebf6;
  margin-right: 51px;
  &:last-child {
    margin-right: 0;
  }
}

.advantages__icon {
  margin: 50px auto 34px;
  width: 154px;
  height: 154px;
}

.advantages__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 165%;
  text-align: center;
  letter-spacing: 0.06em;
  width: 261px;
}

// АДАПТИВ TABLET (ПЛАНШЕТ)

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .advantages {
    width: 768px;
    height: 455px;
  }

  .advantages__title {
    width: 570px;
    height: 64px;
    padding-top: 50px;
  }

  .advantages__wrap {
    margin: 46px auto;
  }

  .advantages__card {
    width: 192px;
    height: 239px;
    border: 4px solid #e9ebf6;

    margin-right: 26px;
  &:last-child {
    margin-right: 0;
  }
  }

  .advantages__icon {
    width: 80px;
    height: 80px;
    margin: 30px auto 16px;
  }

  .advantages__text {
    font-size: 11px;
    width: 152px;
    height: 83px;
    line-height: 180%;
  }
}

// // АДАПТИВ MOBILE

@media screen and ( min-width: 360px) and ( max-width: 767px) {
  .advantages {
    width: 360px;
    height: 973px;
  }

  .advantages__title {
    width: 268px;
    height: 88px;
    padding: 53px 20px 0 20px;
  }

  .advantages__wrap {
    display: flex;
    flex-direction: column;
    margin-top: 23px;
  }

  .advantages__card {
    display: flex;
    width: 250px;
    height: 248px;
    border: none;
    margin-right: 0;
  &:last-child {
    margin-right: 0;
  }
  }

  .advantages__icon {
    width: 116px;
    height: 116px;
    margin: 30px auto 20px;
  }

  .advantages__text {
    font-size: 11px;
    width: 201px;
    height: 83px;
    line-height: 180%;
  }
}
