.back-to-top {
    position: fixed;
    right: 30px;
    bottom: 20px;
    height: 50px;
    width: 50px;
    border-color: transparent;
    border-radius: 50%;
    background-color: rgb(233, 235, 246, 0.3);
    display: none;
}

.back-to-top:hover,
.back-to-top:focus {
    filter: brightness(1.5);
    outline: none;
}

.back-to-top::after {
    content: "";
    position: absolute;
    left: 14px;
    z-index: 11;
    display: block;
    width: 20px;
    height: 20px;
    border-top: 3px solid #18004A;
    border-left: 3px solid #18004A;
    top: 19px;
    transform: rotate(45deg);
}