.header {
  position: fixed;
  max-width: 1440px;
  width: 100%;
  top: 0;
  z-index: 50;
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  //max-width: 1440px;
  width: 1440px;
  height: 100%;
  background-image: url("/assets/images/Background_header.png");
  z-index: 2;
}

.header__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}

.header__logo {
  margin-left: 90px;
  flex: 0 0 50px;
  position: relative;
  z-index: 3;
}

.header__logo img {
  max-width: 100%;
}

.header__list {
  display: flex;
  list-style: none;
  position: relative;
  z-index: 2;
}

.header__item {
  font-weight: 500;
  margin-right: 65px;

  &:last-child {
    margin-right: 100px;
  }
}

.header__link {
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 0.06em;
  transition: 0.3s ease;
  color: #18004a;
  border-bottom: 2px solid transparent;
}

.header__link:hover {
  border-bottom: 2px solid #18004a;
  padding: 6px 0;
}

.header__burger {
  display: none;
}

// АДАПТИВ TABLET (ПЛАНШЕТ)

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .header__body {
    width: 768px;
    height: 49px;
    margin: 0 auto;

  }

  .header::before {
    width: 768px;
    margin: 0 auto;
    right: 0;
    left: 0;
  }

  .header__logo {
    flex: 0 0 25px;
    margin-left: 70px;
    //max-width: 25px;
    //height: 25px;
  }

  .header__item {
    margin-right: 33px;

    &:last-child {
      margin-right: 68px;
    }
  }

  .header__link {
    font-size: 12px;
  }

  .header__link:hover {
    padding: 3px 0;
  }
}

// АДАПТИВ MOBILE

@media screen and (min-width: 360px) and (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }

  .header__body {
    height: 60px;
    width: 360px;
    margin: 0 auto;
  }

  .header::before {
    width: 360px;
    margin: 0 auto;
    right: 0;
    left: 0;
  }

  .header__logo {
    flex: 0 0 40px;
    margin-left: 32px;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 50px;
    height: 20px;
    z-index: 3;
    margin-right: 32px;
  }

  .header__burger span {
    position: absolute;
    background-color: #18004a;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all .3s ease 0s;
  }

  .header__burger:before,
  .header__burger:after {
    content: '';
    background-color: #18004a;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all .3s ease 0s;
  }

  .header__burger::after {
    bottom: 0;
  }

  .header__burger::before {
    top: 0;
  }

  .header__burger.active span {
    transform: scale(0);
  }

  .header__burger.active::before {
    transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__menu {
    position: fixed;
    top: -1000%;
    left: 0;
    right: 0;
    width: 360px;
    height: 100%;
    margin: 0 auto;
    overflow: auto;
    transition: all .3s ease 0s;
    background-color: #E9EBF6;
    padding: 120px 0px 0px 0px;
  }

  .header__menu.active {
    top: 0;
  }

  .header__list {
    display: block;
    text-align: center;
  }

  .header__item {
    margin: 0 0 65px 0;
    &:last-child {
      margin-right: 0;
    }
  }

  .header__link {
    font-size: 20px;
  }
}