.u-get
    background: #FEFBFB
    margin-top: 100px
    margin-bottom: 100px
    &__title
        text-align: center
        margin-bottom: 40px
    &__long-line
        width: 590px
        margin-bottom: 50px
        margin-left: auto
        margin-right: auto
    &__advantages
        width: 1199px
        margin: 0 auto
        gap: 10px
    &__row
        display: flex
        justify-content: space-between
    &__section
        width: 570px
        height: 270px
        display: flex
        justify-content: space-between
    &__number
        display: flex
        justify-content: center
        color: rgba(155, 137, 255, 0.17)
        width: 180px
        font-weight: 900
        font-size: 250px
        letter-spacing: 0.035em
    &__part
        width: 380px
    &__subtitle
        margin-top: 25px
        margin-bottom: 20px
    &__text
        font-weight: 500
        font-size: 20px
        line-height: 33px
        letter-spacing: 0.06em

@media screen and ( min-width: 360px ) and ( max-width: 767px )
.u-get
    height: 1380px
    margin: 0 auto
    &__title
        text-align: center
        margin-top: 50px
        margin-bottom: 0px
    &__long-line
        width: 252px
        margin-top: 20px
        margin-bottom: 0px
        margin-left: auto
        margin-right: auto
    &__advantages
        display: flex
        flex-direction: column
        width: 270px
        gap: 16px
    &__row
        display: flex
        flex-direction: column
    &__section
        display: flex
        flex-direction: column
        justify-content: center
        width: 270px
        text-align: center
        align-items: center
        margin-top: 40px
    &__number
        font-size: 140px
        margin-top: 0px
        margin-bottom: 0px
    &__part
        width: 250px    
    &__subtitle
        margin-top: 20px
        margin-bottom: 0px    
    &__text
        font-size: 11px
        line-height: 180%
        margin-top: 20px
        margin-bottom: 0px    
    
    
    


