.u-get
    background: #FEFBFB
    margin-top: 100px
    margin-bottom: 100px
    &__title
        text-align: center
        margin-bottom: 40px
    &__long-line
        width: 590px
        margin-bottom: 50px
        margin-left: auto
        margin-right: auto
    &__advantages
        width: 1199px
        margin: 0 auto
        gap: 10px
    &__row
        display: flex
        justify-content: space-between
    &__section
        width: 570px
        height: 270px
        display: flex
        justify-content: space-between
    &__number
        display: flex
        justify-content: center
        color: rgba(155, 137, 255, 0.17)
        width: 180px
        font-weight: 900
        font-size: 250px
        letter-spacing: 0.035em
    &__part
        width: 380px
    &__subtitle
        margin-top: 25px
        margin-bottom: 20px
    &__text
        font-weight: 500
        font-size: 20px
        line-height: 33px
        letter-spacing: 0.06em


