.button
    color: #ffffff
    text-align: center
    text-decoration: none
    letter-spacing: 0.16em
    font-size: 20px
    line-height: 25px
    font-weight: 900
    &:hover
        text-shadow: 0 0 10px rgba(255,255,255, 1), 0 0 50px rgba(255, 255, 255, .8), 0 0 75px rgba(255, 255, 255, .6), 0 0 76px rgba(255, 255, 255, .4), 0 0 77px rgba(255, 255, 255, .5), 0 0 78px rgba(255, 255, 255, .4), 0 0 79px rgba(255, 255, 255, .3), 0 0 80px rgba(255, 255, 255, .2), 0 0 85px rgba(255, 255, 255, .1)


// АДАПТИВ TABLET (ПЛАНШЕТ   button   )

@media screen and ( min-width: 768px ) and ( max-width: 1024px )
    .button
        font-size: 12px

// АДАПТИВ MOBILE   button   

@media screen and ( min-width: 360px ) and ( max-width: 767px )
    .button
        font-size: 11px




