@font-face {
  font-family: 'Montserrat';
  src: url(/assets/fonts/Montserrat-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url(/assets/fonts/Montserrat-ExtraBold.ttf);
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url(/assets/fonts/Montserrat-Black.ttf);
  font-weight: 900;
  font-style: normal;
}

