.make-order {
  background: linear-gradient(
    180deg,
    rgba(255, 236, 236, 0.62) 0%,
    rgba(255, 236, 236, 0) 16.26%
  );
  max-width: 1440px;
  height: 1282px;
  margin: 0 auto;
}
.make-order__container-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 80px auto 0;
  height: 925px;
  width: 997px;
  gap: 50px;
}

.make-order__title {
  text-align: center;
  padding-top: 100px;
}
.make-order__subtitle {
  margin-bottom: 20px;
}
.make-order__line {
  max-width: 598px;
  margin-top: 40px;
}

.make-order__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 997px;
  height: 175px;
}

.make-order__part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 749px;
  height: 175px;
}
.make-order__text {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 179%;
  letter-spacing: 0.06em;
}

.make-order__icon {
  width: 154px;
  height: 154px;
}

// АДАПТИВ TABLET (ПЛАНШЕТ)

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .make-order {
    max-width: 768px;
    height: 660px;
  }
  .make-order__container-main {
    width: 510px;
    height: 450px;
    margin: 40px auto 0;
    gap: 20px;
  }

  .make-order__title {
    padding-top: 50px;
  }
  .make-order__subtitle {
    margin-bottom: 10px;
  }
  .make-order__line {
    width: 450px;
    margin-top: 25px;
  }

  .make-order__container {
    width: 490px;
    height: 163px;
  }

  .make-order__part {
    width: 350px;
    height: 71px;
  }

  .make-order__text {
    font-size: 11px;
  }

  .make-order__icon {
    width: 80px;
    height: 80px;
  }
}

// // АДАПТИВ MOBILE

@media screen and (min-width: 360px) and (max-width: 767px) {
  .make-order {
    max-width: 360px;
    height: 1350px;
    margin: 0 auto;
  }
  .make-order__container-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px auto 0;
    height: 1138px;
    width: 270px;
    gap: 20px;
  }
  
  .make-order__title {
    text-align: center;
    padding-top: 53px;
  }
  .make-order__subtitle {
    margin-bottom: 30px;
  }
  .make-order__line {
    max-width: 250px;
    margin-top: 20px;
  }
  
  .make-order__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 254px;
    height: 262px;
  }
  
  .make-order__part {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 278px;
    height: 116px;
    text-align: center;
    margin-top: 30px;
  }
  .make-order__text {
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 180%;
    letter-spacing: 0.06em;
  }
  
  .make-order__icon {
    width: 116px;
    height: 116px;
  }
}
