.fits-section {
  display: flex;
  flex-direction: column;
  background-image: url("/assets/images/Background_3-block.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;

  width: 1440px;
  height: 908px;
}

.fits-section__content {
  display: flex;
  flex-direction: column;
  width: 915px;
  height: 607px;
  margin: 0 auto 74px;
}

.fits-section__title {
  align-self: center;
  padding-top: 149px;
  padding-bottom: 98px;
}

.fits-section__row {
  display: flex;
  flex-direction: row;
  width: 904px;
  height: 37px;
  margin-bottom: 22px;
  padding-left: 22px;
}

.fits-section__point_violet {
  width: 28px;
  height: 28px;
}

.fits-section__text {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.06em;
  margin-left: 22px;
}

.fits-section__button {
  width: 557px;
  text-align: center;
  padding: 1.7em 2em;
  margin: 0 auto;
  background: #9b89ff;
}

.fits-section__button:hover {
  background: #8e7eec;
}
// .fits-section__button-btn_mobile {
//   display: none;
// }
// АДАПТИВ ПЛАНШЕТ

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .fits-section {
    background-image: url("/assets/images/Background_3-block_tablet.png");
    width: 768px;
    height: 562px;
  }

  .fits-section__content {
    width: 504px;
    height: 370px;
    margin: 30px auto 30px;
  }

  .fits-section__title {
    align-self: center;
    padding-top: 51px;
    padding-bottom: 50px;
  }

  .fits-section__row {
    width: 504px;
    height: 19px;
    margin-bottom: 24px;
    padding-left: 15px;
  }

  .fits-section__point_violet {
    width: 15px;
    height: 15px;
  }

  .fits-section__text {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.06em;
    margin-left: 22px;
  }

  .fits-section__button {
    width: 450px;
    padding: 1.2em 0.25em;
  }
  // .fits-section__button-btn_mobile {
  //   display: none;
  // }
}

@media screen and ( min-width: 360px ) and ( max-width: 767px ) {
  .fits-section {
    background-image: url("/assets/images/Background_3-block_mobile.png");
    width: 360px;
    height: 677px;
  }
  
  .fits-section__content {
    width: 296px;
    height: 500px;
    margin: 0 auto 0px;
  }
  
  .fits-section__title {
    padding-top: 85px;
    padding-bottom: 46px;
  }
  
  .fits-section__row {
    width: 261px;
    height: 37px;
    margin-bottom: 20px;
    padding-left: 17px

  }
  
  .fits-section__point_violet {
    width: 21px;
    height: 21px;
  }
  
  .fits-section__text {
    font-size: 11px;
    line-height: 135%;
    }
  // .fits-section__button-btn{
  //   padding: 0.1em 0.1em;
  // }
  .fits-section__button{
        width: 200px;
        margin-top: 14px;
    // padding: -6em 4em;
    
  }
  // .fits-section__button-btn_mobile {
  //   padding: 1em 1em;
  // }
  // .fits-section__button-btn_mobile:hover {
  //   background: #8e7eec;
  // }
  
}
