.make-order{
background: linear-gradient(180deg, rgba(255, 236, 236, 0.62) 0%, rgba(255, 236, 236, 0) 16.26%);
max-width: 1470px;
height: 1282px;
}
.make-order__title{
margin-left: 460px;
margin-top: 136px;
padding-top: 100px;
}
.make-order__subtitle{
    margin-bottom: 20px;
    margin-left: 96px;
}
.make-order__line{
    max-width: 598px;
    margin-top: 42px; 
}
.make-order__container{
display: flex;
align-content: center;
width: 856.63px;
height: 170px;
margin: 0 auto;
margin-top: 80px;
line-height: 33px
}
.make-order__text{
    font-style: normal;
font-weight: 500;
font-size: 24px;
margin-left: 96px;
}
.sub{
    margin-top: 24px;
}
// .make-order__icon{

// }