.method-section {
  display: flex;
  flex-direction: row;
  background: linear-gradient(
    180deg,
    rgba(255, 217, 217, 0.62) 0%,
    rgba(255, 255, 255, 0) 16.26%
  );
  width: 1440px;
  height: 1115px;
  margin: 0 auto;
}

.method-section__wrapper_left {
  display: flex;
  justify-content: center;
  width: 563px;
  height: 1115px;
}
.method-section__img {
  width: 407px;
  height: 1010px;
}
.method-section__wrapper_right {
  display: flex;
  flex-direction: column;
  width: 785px;
  height: 1115px;
}

.method-section__title {
  margin-top: 72px;
  text-align: center;
}

.method-section__text {
  font-size: 20px;
  line-height: 36px;
  letter-spacing: 0.06em;
  text-indent: 1em;
  width: 785px;
  text-align: justify;
}

.method-section__line {
  width: 416.04px;
  margin-top: 42px;
  margin-bottom: 43px;
}

.method-section__button {
  width: 395px;
  align-self: center;
  margin-top: 50px;
}

// АДАПТИВ TABLET (ПЛАНШЕТ)

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .method-section {
    width: 768px;
    height: 644px;
  }

  .method-section__wrapper_left {
    width: 288px;
    height: 620px;
  }
  .method-section__img {
    width: 184px;
    height: 456px;
    margin-top: 65px;
  }
  .method-section__wrapper_right {
    width: 420px;
    height: 620px;
  }

  .method-section__title {
    margin-top: 30px;
    width: 420px;
  }

  .method-section__text {
    font-size: 11px;
    line-height: 180%;
    width: 420px;
    text-align: justify;
  }

  .method-section__line {
    width: 325px;
    margin: 25px auto 26px;
  }

  .method-section__button {
    width: 310px;
    margin-top: 30px;
  }
}

// АДАПТИВ MOBILE

@media screen and ( min-width: 360px ) and ( max-width: 767px ) {
  .method-section {
    width: 360px;
    height: 789px;
  }
  
  .method-section__wrapper_left {
    display: none;
  }
  .method-section__img {
    display: none;
    }

  .method-section__wrapper_right {
    width: 360px;
    height: 789px;
  }
  
  .method-section__title {
    margin-top: 53px;
  }
  
  .method-section__text {
    font-size: 11px;
    line-height: 160%;
    width: 250px;
    align-self:center;
    text-align: justify;
  }
  
  .method-section__line {
    width: 177px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .method-section__button {
    width: 240px;
    margin-top: 40px;
  }
}
