.method-section {
    display: flex;
    flex-direction: row;
    background-image:url("/assets/images/Background_2-block.png");
    background-repeat:no-repeat;
    background-size: cover;
    width: 1440px;
    height: 1115px;
}

.method-section__wrapper_left {
  display: flex;
  justify-content: center;
  width: 563px;
  height: 1115px;
}
.method-section__img {
  width: 407px;
  height: 1010px;
}
.method-section__wrapper_right {
  position: relative;
  width: 785px;
  height: 1115px;
}

.method-right {
  display: flex;
  flex-direction: column;
}

.method-section__title {
  margin-top: 72px;
  align-self: center;
  // position: absolute;
  // width: 249px;
  // height: 50px;
  // left: 839px;
  // top: 1152px;
  // align-content: center;
}

.method-section__text {
  font-size: 20px;
  line-height: 36px;
  letter-spacing: 0.06em;
  text-indent: 1em;
  width: 785px;
  // display: grid;
  // grid-template-columns: repeat(1, 1fr);
  // grid-template-rows: repeat(1, 1fr);
  // grid-column-gap: 0px;
  // grid-row-gap: 0px;
  // width: 785px;
  // height: 332px;
  // left: 563px;
  // top: 1287px;
}

.method-section__line {
  width: 416.04px;
  height: 4px;
  margin-top: 42px;
  margin-bottom: 43px;
}

.method-section__button {
  width: 395px;
    align-self: center;
    margin-top: 50px;
}

.title {
  // font-weight: 900;
  // font-size: 40px;
  // letter-spacing: 0.06em;
}
  
.title-main {
  // font-weight: 900;
  // font-size: 54px;
  // letter-spacing: 0.125em;
}