.reviews-section {
  background: linear-gradient(
    180deg,
    rgba(189, 178, 254, 0.15) 0%,
    rgba(155, 137, 255, 0) 10.03%
  );
  width: 1440px;
  height: 819px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.reviews-section__line {
  width: 591px;
}
.reviews-section__title-block {
  display: flex;
  flex-direction: column;
  width: 591px;
  height: 98px;
  align-self: center;
  margin-top: 84px;
  margin-bottom: 91px;
}
.reviews-section__title {
  margin-bottom: 40px;
  align-self: center;
}
.reviews-section__wrappers-block {
  width: 1254px;
  height: 371px;
}
.wrappers-block {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.reviews-section__wrapper_left,
.reviews-section__wrapper_right {
  display: flex;
  flex-direction: row;
  justify-content: center;

  width: 627px;
  height: 371px;
}
.reviews-section__video {
  width: 244px;
  height: 350px;
}

.reviews-section__review-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 180%;
  width: 290px;
  height: 371px;
  letter-spacing: 0.06em;
  margin-left: 44px;
}


// АДАПТИВ TABLET (ПЛАНШЕТ)

@media screen and (min-width: 768px) and (max-width: 1339px) {
  .reviews-section {
    width: 768px;
    height: 428px;
  }

  .reviews-section__line {
    width: 330px;
  }
  .reviews-section__title-block {
    width: 330px;
    height: 60px;
    margin-top: 30px;
    margin-bottom: 45px;
  }
  .reviews-section__title {
    margin-bottom: 31px;
  }
  .reviews-section__wrappers-block {
    width: 628px;
    height: 175px;
  }

  .reviews-section__wrapper_left,
  .reviews-section__wrapper_right {
    width: 314px;
    height: 175px;
  }
  .reviews-section__video {
    width: 127px;
    height: 175px;
  }

  .reviews-section__review-text {
    font-size: 10px;
    width: 145px;
    height: 175px;
    margin-left: 23px;
  }


}

@media screen and ( min-width: 360px ) and ( max-width: 767px ){
  .reviews-section {
    width: 360px;
    // height: 1366px;
    height: 1359px;
    }
  
  .reviews-section__line {
    width: 232px;
    height: 2px;
  }
  .reviews-section__title-block {
    width: 232px;
    // height: 30px;
    align-self: center;
    padding-top: 43px;
    margin: 0 auto;
  }
  .reviews-section__title {
    margin-bottom: 23px;
  }
  .reviews-section__wrappers-block {
    flex-direction: column;
    width: 278px;
    height: 1247px;
  }
  .wrappers-block {
    justify-content: start;
    
  }
  
  .reviews-section__wrapper_left,
  .reviews-section__wrapper_right {
    flex-direction: column;
    width: 278px;
    height: 563px;
    margin: 0 auto;
    justify-content: start;
  }
  .reviews-section__video {
    width: 244px;
    height: 350px;
    margin: 0 auto;
  }
  
  .reviews-section__review-text {
    font-size: 11px;
    font-weight: 500;
    line-height: 180%;
    width: 241px;
    height: 154px;
    letter-spacing: 0.06em;
    padding-top: 31px;
    // text-align: center;
    margin: 0 auto;
  }
  
}
