.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 34px;
    height: 50px;
    background: #18004A;
}

.footer__logo {
    width: 17px;
    height: 16px;
}

.footer__text {
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

// АДАПТИВ TABLET (ПЛАНШЕТ)

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .footer {
        gap: 16px;
        height: 45px;
    }
    
    .footer__logo {
        width: 17px;
        height: 16px;
    }
    
    .footer__text {
        font-size: 10px;
    }
}
// АДАПТИВ MOBILE
@media screen and ( min-width: 360px ) and ( max-width: 767px ) {
    .footer {
        gap: 10px;
        height: 35px;
    }
    
    .footer__logo {
        width: 12px;
        height: 12px;
    }
    
    .footer__text {
        font-size: 8px;
    }
}