.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    height: 50px;
    background: #18004A;
}

.footer__logo {
    width: 20px;
    height: 19.43px;
}

.footer__text {
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}