.main-section {
  display: flex;
  flex-direction: column;
  width: 1440px;
  height: 975px;
  background-image: url("/assets/images/Background_1-block2.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: -80px;
  margin: 0 auto;
}
.main-section__title-main {
  font-family: "Montserrat", sans-serif;
  src: url "./assets/fonts/Montserrat-Black.ttf";
  font-style: normal;
  align-self: left;
  width: 768px;
  height: 320px;
  margin-left: 90px;
  margin-top: 250px;
  // margin-top: 116px;
}
.main-section__subtitle-main {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  width: 550px;
  height: 72px;
  margin-left: 90px;
  margin-top: 57px;
}
.main-section__button {
  width: 544px;
  // height: 115px;
  margin-left: 90px;
  margin-top: 70px;
}

// АДАПТИВ TABLET (ПЛАНШЕТ)

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .main-section {
    width: 768px;
    height: 520px;
    background-image: url("/assets/images/Background_1-block_tablet.png");
    padding-top: -50px;
  }
  .main-section__title-main {
    width: 351px;
    height: 150px;
    margin-left: 67px;
    margin-top: 141px;
  }
  .main-section__subtitle-main {
    width: 351px;
    height: 44px;
    margin-left: 67px;
    margin-top: 22px;
  }
  .main-section__button {
    width: 329px;
    margin-left: 67px;
    margin-top: 46px;
  }
}

@media screen and ( min-width: 360px ) and ( max-width: 767px ) {
  .main-section {
    
    width: 360px;
    height: 800px;
    background-image: url("/assets/images/Background_1-block_mobile.png");
    // padding-top: -80px;
  }
  .main-section__title-main {
    width: 240px;
    height: 150px;
    margin-left: 45px;
    margin-top: 195px;
    // margin-top: 116px;
  }
  .main-section__subtitle-main {
    
    width: 165px;
    height: 103px;
    margin-left: 45px;
    margin-top: 41px;
  }
  .main-section__button {
    width: 290px;
    // height: 115px;
    margin-left: 35px;
    margin-top: 213px;
  }
}