.main-section {
  display: flex;
  flex-direction: column;
  width: 1440px;
  height: 975px;
  background-image: url("/assets/images/Background_1-block2.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: -80px;
}
.main-section__title-main {
  font-family: "Montserrat", sans-serif;
  src: url "./assets/fonts/Montserrat-Black.ttf";
  font-style: normal;
  align-self: left;
  width: 768px;
  height: 320px;
  margin-left: 90px;
  margin-top: 250px;
  // margin-top: 116px;
}
.main-section__subtitle-main {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  width: 550px;
  height: 72px;
  margin-left: 90px;
  margin-top: 57px;
}
.main-section__button {
  width: 544px;
  // height: 115px;
  margin-left: 90px;
  margin-top: 70px;
}
