.look
    background-image: url(/assets/images/Background_7-block.png)
    height: 1025px
    margin-top: 100px
    // border: 1px solid red
    &__title
        margin-top: 90px
        margin-left: 50px