.look
    background-image: url(/assets/images/Background_7-block_.png)
    background-size: cover
    // background-repeat: no-repeat
    height: 1025px
    margin-top: 100px
    padding-top: 20px

    &__title
        margin-top: 90px
        margin-left: 60px